@import '~/styles/mixins.scss';

.wrapper {
    @apply flex gap-4 p-3 rounded-lg cursor-pointer hover:bg-[rgba(var(--ig-hover-overlay))];
    &:hover {
        transition: background-color 0.3s;
        .left-icon,
        .avatar {
            transform: scale(105%);
            transition: transform 200ms cubic-bezier(0.17, 0.17, 0, 1);
        }
    }
    .avatar {
        @apply w-6 h-6 rounded-full;
    }
    .active-avatar {
        outline: 2px solid rgb(var(--ig-primary-text));
    }

    .title {
        @include font(16, 'regular');
    }
    .active-title {
        @include font(16, 'bold');
    }
}
